.--sales-title {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

@media (min-width: 768px) {

    .--sales-title {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .--sales-title .--filters .--filter-choose {
        display: none;
    }

    .--sales-title .--filters .--filter-type {
        display: block;
    }



}