.__charts_alert {
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

.__charts_alert .--title {
    margin-bottom: .8rem;
}

.__charts_alert .--filters {
    width: 100%;
    display: flex;
    gap: .5rem;
    margin-bottom: .8rem;
}

.__charts_alert .--filters .--filter {
    padding: .5rem .8rem;
    cursor: pointer;
    font-size: var(--font-size-sm);
    border-radius: var(--radius-md);
    background-color: var(--color-gray-100);
}

.__charts_alert .--filters .--filter--active {
    color: var(--color-white);
    background-color: var(--color-primary);
}