.--card-kpis {
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.--card-kpis .--card-info {
    height: 100%;
    display: flex;
    gap: .8rem;
    flex-direction: column;
    justify-content: space-between;
}

.--card-kpis .--card-info .--p-1 {
    font-size: var(--font-size-sm);
}

.--card-kpis .--card-info h2 {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.--card-kpis .--card-info .--p-3 {
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}