.--head-page {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

.--head-page button {
    text-wrap: nowrap;
}

.--head-page .__filters {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.--head-page .__filters li select,
.--head-page .__filters li input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-gray-100);
}