.--table-inputs {
    width: 100%;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

.--table-inputs .--table-head-inputs {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(calc(150px * 5) + 60px);
    border-bottom: 1px solid var(--color-secondary);
}

.--table-inputs .--table-head-inputs .--span-col {
    display: grid;
    width: 100%;
    min-width: 150px;
    height: inherit;
    place-items: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}

.--table-inputs .--table-body-inputs {
    width: 100%;
}

.--table-inputs .--table-body-inputs .--rows {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(150px * 7);
    border-bottom: 1px solid var(--color-secondary);
}

.--table-inputs .--table-body-inputs .--rows .--span-col {
    display: flex;
    width: 100%;
    min-width: 150px;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}