.--products-table {
    width: 100%;
    overflow-y: auto;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.--products-table .--products-table-head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(calc(150px * 5)  + 60px);
    border-bottom: 1px solid var(--color-secondary);
}

.--products-table .--products-table-head .--col {
    display: grid;
    width: 100%;
    min-width: 150px;
    height: inherit;
    place-items: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}

.--products-table .--products-table-head .--col-1 {
    width: 60px;
    height: 60px;
    min-width: 60px;
}

.--products-table .--products-table-body {
    width: 100%;
}

.--products-table .--products-table-body .--row {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(calc(150px * 5)  + 60px);
    border-bottom: 1px solid var(--color-secondary);
}

.--products-table .--products-table-body .--row .--col {
    display: flex;
    width: 100%;
    min-width: 150px;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}

.--products-table .--products-table-body .--row .--col-1 {
    display: grid;
    width: 60px;
    height: 60px;
    min-width: 60px;
    place-items: center;
}

.--products-table .--products-table-body .--row .--col-6 .--btn-delete-row {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: rgb(222, 3, 3);
    padding: .5rem 1rem;
    border-radius: var(--radius-md);
    background-color: rgb(222, 3, 3, .2);
}