.--modal-alert-info {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-secondary);
}

.--modal-alert-info li {
    display: flex;
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid var(--color-secondary);
}

.--modal-alert-info li:last-child {
    border-bottom: 0;
}

.--modal-alert-info li .--row-span-1 {
    display: grid;
    width: 40%;
    height: inherit;
    padding: .2rem .5rem;
    place-items: center;
    font-size: var(--font-size-sm);
    background-color: var(--color-gray-100);
    border-right: 1px solid var(--color-secondary);
}

.--modal-alert-info li .--row-span-2 {
    display: flex;
    width: auto;
    height: inherit;
    padding: 0 .5rem;
    align-items: center;
    font-size: var(--font-size-sm);
}


@media (min-width: 1024px) {
    .--modal-alert-info li .--row-span-1 {
        width: 20%;
    }
}