.--head-pos {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

.--table-pos {
    width: 100%;
    overflow-y: auto;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.--table-pos .--table-head-pos {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(calc(150px * 6) + 60px);
    border-bottom: 1px solid var(--color-secondary);
}

.--table-pos .--table-head-pos .--col {
    display: grid;
    width: 100%;
    min-width: 150px;
    height: inherit;
    place-items: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}

.--table-pos .--table-head-pos .--col-1 {
    width: 60px;
    height: 60px;
    min-width: 60px;
}

.--table-pos .--table-body-pos .--rows {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(calc(150px * 6) + 60px);
    border-bottom: 1px solid var(--color-secondary);
}

.--table-pos .--table-body-pos .--rows .--col {
    display: flex;
    width: 100%;
    min-width: 150px;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    border-right: 1px solid var(--color-secondary);
}

.--table-pos .--table-body-pos .--rows .--col-1 {
    width: 60px;
    height: 60px;
    min-width: 60px;
}

.--table-pos .--table-body-pos .--rows .--col-6 button {
    position: relative;
    display: grid;
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    place-items: center;
    border-radius: var(--radius-md);
}

.--table-pos .--table-body-pos .--rows .--col-6 button .--tooltip {
    display: none;
    position: absolute;
    top: -30px;
    text-wrap: nowrap;
    padding: .2rem .4rem;
    color: var(--color-white);
    border-radius: var(--radius-sm);
    background-color: rgba(0, 0, 0, .8);
}

.--table-pos .--table-body-pos .--rows .--col-6 button:hover .--tooltip {
    display: inline-block;
}