.__form_group {
    width: 100%;
    margin-bottom: 1rem;
}

.__form_group .__form_label {
    color: var(--color-gray);
    display: inline-block;
    margin-bottom: .8rem;
    font-size: var(--font-size-xs);
}

.__form_group .__form_control {
    position: relative;
    width: 100%;
}

.__form_group .__form_control .__form_entry {
    width: 100%;
    height: 50px;
    padding: 0 55px 0 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__form_group .__form_control .__form_ico {
    position: absolute;
    display: grid;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    place-items: center;
}