.--alert {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: .5rem .8rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray-100);
}

.--alert .--alert-col .--alert-sub {
    color: var(--color-gray);
    font-size: var(--font-size-sm);
}

.--alert .--alert-badge {
    display: inline-flex;
    padding: .3rem .8rem;
    font-size: var(--font-size-xs);
    border-radius: var(--radius-pill);
}

.--alert .--alert-badge-warning {
    color: rgb(159 168 0);
    background-color: rgb(220, 232, 0, .2);
}

.--alert .--alert-badge-danger {
    color: rgb(222, 3, 3);
    background-color: rgb(222, 3, 3, .2);
}